RUN_AS_SYSTEM RCDATA "Assets\\Resources\\RunAsSystem.exe"
MESSAGE_BEEP RCDATA "Assets\\Resources\\MessageBeep.wav"
SQLite32 RCDATA "Assets\\Resources\\DLL\\32\\sqlite3.dll"
SQLite64 RCDATA "Assets\\Resources\\DLL\\64\\sqlite3.dll"
AR_SA RCDATA "Assets\\Resources\\Locale\\AR_SA.ini"
DE_DE RCDATA "Assets\\Resources\\Locale\\DE_DE.ini"
EN_US RCDATA "Assets\\Resources\\Locale\\EN_US.ini"
ES_AR RCDATA "Assets\\Resources\\Locale\\ES_AR.ini"
ES_ES RCDATA "Assets\\Resources\\Locale\\ES_ES.ini"
FR_FR RCDATA "Assets\\Resources\\Locale\\FR_FR.ini"
IT_IT RCDATA "Assets\\Resources\\Locale\\IT_IT.ini"
JA_JA RCDATA "Assets\\Resources\\Locale\\JA_JA.ini"
KO_KO RCDATA "Assets\\Resources\\Locale\\KO_KO.ini"
PT_BR RCDATA "Assets\\Resources\\Locale\\PT_BR.ini"
RU_RU RCDATA "Assets\\Resources\\Locale\\RU_RU.ini"
ZH_CN RCDATA "Assets\\Resources\\Locale\\ZH_CN.ini"
ZH_TW RCDATA "Assets\\Resources\\Locale\\ZH_TW.ini"
