RUN_AS_SYSTEM RCDATA "Resources\\RunAsSystem.exe"
EN_US RCDATA "Locale\\EN_US.ini"
ES_ES RCDATA "Locale\\ES_ES.ini"
PT_BR RCDATA "Locale\\PT_BR.ini"
MESSAGE_BEEP RCDATA "Resources\\MessageBeep.wav"
